@font-face {
    font-family: 'WixMadeforText-Bold';
    src: url('../font/WixMadeforText-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'WixMadeforText';
    src: url('../font/WixMadeforText-Regular.ttf') format('truetype');
}

* {
    font-family: 'WixMadeforText', Arial, sans-serif;
}

nav {
    max-width: 1280px;
    margin: 0 auto;
}

#MainPage {
    transition-duration: 0.5s;
}

#Slider {
    transition-duration: 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: none;
    background-color: #363CBF;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
}

#scrollToTopBtn:hover {
    background-color: white;
    color: #363CBF;
}

.nav-link:hover {
    cursor: pointer;
    font-style: italic;
    transform: scale(1.1);
    color: #363CBF;
}

.nav-link {
    font-size: 15px;
}

#Projects badge div p {
    font-size: clamp(15px, 1.5vw, 20px);
}

h1 {
    font-family: 'WixMadeforText-Bold', Arial, sans-serif;
    font-size: clamp(40px, 5vw, 50px);
    color: #f8632c;
}

h2 {
    font-family: 'WixMadeforText-Bold', Arial, sans-serif;
    font-size: clamp(30px, 4vw, 50px);
}

h3 {
    font-family: 'WixMadeforText-Bold', Arial, sans-serif;
    font-size: clamp(15px, 2vw, 20px);
}

p {
    font-size: clamp(15px, 2vw, 20px);
}

a {
    text-decoration: none;
}

footer div {
    max-width: 400px;
}

footer p {
    font-size: 10px;
}

footer div a {
    border-radius: 100%;
    padding: 15px;
    transition-duration: 0.3s;
}

footer div a:hover,
.link-color a:hover img {
    transform: scale(1.1) translateY(-10%);
}

.link-color a {
    border-radius: 100%;
    padding: 15px 15px 15px 0;
}

.link-color a img {
    transition-duration: 0.3s;
}

.card {
    border: none;
    transition-duration: 0.3s;
}

.card:hover {
    transform: translateY(-5%) scale(1.02);
}

.card-shadow {
    box-shadow: 0 0 10px rgba(167, 161, 255, 0.409);
}

.card-shadow:hover {
    transform: translateY(-5%) scale(1.02);
    box-shadow: 0 0 20px rgba(167, 161, 255, 0.409) !important;
}

.card-svg {
    object-fit: cover;
    height: 30px;
    width: 30px;
    margin: auto 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    opacity: 0;
    transition-duration: 0.5s;
    justify-content: center;
}

#Projects badge, #Cv badge, #FirstProject badge {
    background-color: transparent !important;
}

.badge-background {
    background-color: #f8632c;
    border-radius: 5px;
}

.card-hover img {
    transition-duration: 0.5s;
}

.card-hover:hover img {
    opacity: 0;
}

.card-hover:hover .overlay {
    opacity: 1;
    scale: 1;
}

.button-close-container {
    position: relative;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.button-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 12px;
    border: none;
    padding: 0;
    background-color: transparent;
    border-radius: 100%;
    transition-duration: 0.3s;
}

.button-close:hover {
    transform: scale(1.1);
}

.hide-left {
    opacity: 0;
    transform: translateX(-100%);
}

.cv-image {
    width: 100%;
    border-radius: 5px;
}

#SliderContent .badge-background, #FirstProject .badge-background {
    background-color: white;
}

#SliderContent .card-hover p {
    color: #363CBF;
}

#SliderContent .button-card-hover {
    color: #363CBF;
    border-color: #363CBF;
}

#SliderContent .button-card-hover:hover {
    color: white;
    background-color: #363CBF;
}

.button-card-hover {
    color: white;
    border-color: white;
    border-width: 2px;
    display: flex;
    margin: 0 auto 0 auto;
}

.button-card-hover:hover {
    color:rgb(24, 37, 87);
    background-color: white;
}

#FirstProject .button-card-hover {
    color: #f8632c;
    border-color: #f8632c;
}

#FirstProject .button-card-hover:hover {
    color: white;
    background-color: #f8632c;
}

.z-index {
    z-index: 1000;
    font-style: italic;
    transform: scale(1.1);
    color: white !important;
}

.blue {
    background-color: #363CBF;
    color: white;
}

.orange {
    background-color: #f8632c;
    color: white;
}

.white {
    color: white;
}

.center-full-1512 {
    max-width: 1512px;
    margin: 0 auto;
}

.center-1232 {
    max-width: 1232px;
    width: 90%;
    margin: 0 auto;
}

@media screen and (max-width: 1450px) {
    .center-1232 {
        max-width: 1016px;
    }
}

@media screen and (max-width: 1199px) {
    .center-1232 {
        max-width: 816px;
    }
}

@media screen and (max-width: 991px) {
    .center-1232 {
        max-width: 600px;
    }
}

@media screen and (max-width: 289px) {
    .navbar-nav {
        display:none;
    }
}