* {
    font-family: 'Comfortaa', Arial, sans-serif;
}

header a:hover {
    font-style:italic ;
    transform: scale(1.1);
}

p,
h1,
h2 {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.text-container {
    background-color: rgb(247, 129, 3);
    padding: 100px 0 100px 0;
    margin-bottom: -75px;
    width: 100%;
}

.flex-container {
    max-width: 1200px;
    margin: 0 auto;
}

.icon-container {
    height: 250px;
    width: 300px;
    margin: 0 auto
}

.card {
    opacity: 0;
    transition-duration: 0.7s;
    width: 300px;
    height: 250px;
    max-width: 400px;
    transform: scale(0.5);
}

.card img {
    object-fit: cover;
    padding: 50px;
}

.card-body {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 5px;
    transition-duration: 0.3s;
}

.card-body:hover {
    opacity: 1;
}

.card-body div {
    transform: scale(0.5);
    transition-duration: 0.3s;
}

.card-body:hover div {
    transform: scale(1);
}

.card:hover img {
    filter: blur(15px);
}

.card-active-1 {
    transition-delay: 0s;
    opacity: 1;
    transform: scale(1);
}

.card-active-2 {
    transition-delay: 0.25s;
    opacity: 1;
    transform: scale(1);
}

.card-active-3 {
    transition-delay: 0.5s;
    opacity: 1;
    transform: scale(1);
}

.menu-active {
    opacity: 1 !important;
    transform: translate(0%) !important;
}

.button-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    padding: 10px 17px 10px 17px;
    background-color: white;
    border-radius: 50%;
    border: none;
}

.button-close:hover {
    border: 2px solid black;
}

#about,
#wireframes,
#projects,
#contact {
    opacity: 0;
    transition-duration: 0.5s;
    transform: translateX(-100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.z-index {
    z-index: 1000;
}

.link-phone-size {
    position: absolute;
    top: 0;
    left: 0;
    margin: 30px;
}
