body {
    background-color: rgb(25, 25, 25);
    min-height: 100vh;
    display: flex;
    align-items: center;
}

main {
    background-color: #B4BDC4;
    max-width: 90%;
    margin: 0 auto;
    border-radius: 6px;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 40px;
    font-weight: 500;
    margin-top: 0;
    padding-top: 40px;
    margin-bottom: 20px;
}

form {
    padding-bottom: 50px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 200px;
    box-sizing: border-box;
}

button {
    width: 200px;
    height: 40px;
    border-radius: 6px;
    color: white;
    background-color: black;
    margin: 0 auto;
    margin-top: 50px;
    display: block;
    transition-duration: 0.3s;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.error {
    border-color: red;
}

#error,
#errorNb {
    position: absolute;
    background-color: white;
    border-radius: 0 0 6px 6px;
    color: red;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
}

.info {
    display: flex;
    justify-content: space-around;
}

span {
    width: 180px;
}

#result {
    font-size: 25px;
}

#game {
    transition-duration: 0.3s;
}

#game img {
    margin: 2px 4px 0px 4px;
    width: 100px;
    cursor: pointer;
    transition: 0.2s;
}

.flipped {
    transform: rotateY(180deg) scaleX(-1);
}

.displayNone {
    display: none;
}

.paddingBottom {
    padding-bottom: 50px;
}

.marginTop {
    margin-top: 50px;
}

.hidden {
    visibility: hidden;
}